<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <link href="styles.css" rel="stylesheet">
    <title>Common Place</title>
  </head>
  <body class="overflow-hidden">
    <div id="add">
    </div>
    <div class="w-screen h-screen bg-neutral-800">
     <div class="flex flex-col mx-8 my-0 text-white">
      <h1 class="m-auto text-4xl text-center">Common Place</h1>
      <button hx-get="/add" hx-swap="outterHTML" hx-target="#add">Add Entry</button>
      <div id="entries" class="w-full h-full" hx-get="/entries" hx-swap="innerHTML" hx-trigger="load">
      </div>
     </div>
    </div>
  </body>
</html>
